.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.fw-black {
  font-weight: 900;
}

.d-block {
  display: block;
}
.t-center {
  text-align: center;
}
.grid-container {
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
}
