.container {
  max-width: 1500px;
  width: 90%;
  margin-inline: auto;
}

.inner-container {
  max-width: var(--max-width);
  width: 90%;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
}
