/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  // colors
  --clr-cyan: 179, 81%, 29%;
  --clr-grey-blue: 215, 19%, 25%;
  --clr-orange: 25, 94%, 86%;
  --clr-cream: 254, 252%, 98%;
  --clr-grey: 215, 5%, 54%;
  --clr-light-grey: #f2f2f2;

  // font-sizes
  --fs-900: 9.375rem;
  --fs-800: 4.5rem;
  --fs-700: 2.5rem;
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-400: 1rem;
  --fs-300: 0.75rem;

  /* font-families */
  --ff-serif: "Fraunces", serif;
  --ff-sans: "Barlow", sans-serif;
}
